<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Gestión de Docentes</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div th:replace="~{layout/header :: header}"></div>
	<div class="d-flex">
		<div th:replace="~{layout/sidebar :: sidebar}"></div>
		<main class="flex-grow-1 p-4 bg-light">
			<div class="d-flex justify-content-between align-items-center mb-4">
				<h3 class="text-secondary fw-bold">Lista de Docentes</h3>
				<a th:href="@{/docentes/nuevo}" class="btn btn-primary">+ Nuevo
					Docente</a>
			</div>

			<div th:if="${mensaje}"
				class="alert alert-success alert-dismissible fade show" role="alert">
				<span th:text="${mensaje}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

			<div th:if="${error}"
				class="alert alert-danger alert-dismissible fade show" role="alert">
				<span th:text="${error}"></span>
				<button type="button" class="btn-close" data-bs-dismiss="alert"
					aria-label="Close"></button>
			</div>

			<div class="card p-3 shadow-sm border-0">
				<table class="table table-hover table-custom">
					<thead>
						<tr>
							<th>DNI</th>
							<th>Nombres y Apellidos</th>
							<th>Especialidad</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="d : ${docentes}">
							<td th:text="${d.dni}"></td>
							<td th:text="${d.nombres} + ' ' + ${d.apellidos}"></td>
							<td th:text="${d.especialidad}"></td>
							<td>
								<a th:href="@{/docentes/editar/{id}(id=${d.id})}"
								class="btn btn-warning btn-sm">Editar</a> 
								<a th:href="@{/docentes/eliminar/{id}(id=${d.id})}"
								class="btn btn-danger btn-sm"
								onclick="return confirm('¿Seguro que deseas eliminar a este docente?')">Eliminar</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</main>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>